.envrc
flake.nix
flake.lock
/.direnv
/.venv
/.venv-feynkit
/.zed
/target
/.vscode
*.cpp
*.so
*.pyc
/.devenv
.devenv*
devenv*
uv.lock
/example_extension/target
**/.ipynb_checkpoints/
**/.virtual_documents/
**/__marimo__/
